.column-foot {

    width: 50%;
    padding: 10px;
    word-wrap: break-word;
    text-align:justify;
    word-spacing:-2px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}