.table-1 {
    width: 100%;
   border-collapse: collapse;
   /*убираем пустые промежутки между ячейками*/
   border: 2px;
   /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
   word-break: break-word;
}

.tr-1 {
   width: 5%;
   border: 2px;
}
.td-1 {
   width: 5%;
   border: 2px;
}
.th-1 {
   width: 5%;
   border: 2px;
}