table {
    width: 100%;
   border-collapse: collapse;
   /*убираем пустые промежутки между ячейками*/
   border: 2px;
   /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
   word-break: break-word;
}

tr {
   width: 5%;
   border: 2px;
}
td {
   width: 5%;
   border: 2px;

}
th {
   width: 5%;
   border: 2px;
}





@media only screen and (max-width: 320px) {
    .table, .table tr, .table td {
        display: block;
        width: 100%;
        text-align: justify;
        word-break: break-all;
        word-spacing: -2px;
        white-space: normal;
        border-spacing: 20px;
    }
}
