{% extends "home/base.html" %}

{% block body %}


<div class="container">
              <hr><h1 style="text-align: center;">Восстановление пароля</h1><hr>
{% for msg in messages %}
        <h5 style="text-align: center; colour: green;">{{ msg }}</h5>
{% endfor %}
	<h5 style="text-align:center;">Введите новый пароль</h5>
<h5 style="text-align:center;">Пожалуйста, введите свой новый пароль дважды, чтобы мы могли убедиться, что вы ввели его правильно.</h5>

	<form method="post" style="text-align:center;" >
{% csrf_token %}
		<div>
		<ul>
			<li><h5>Ваш пароль не может быть слишком похож на вашу другую личную информацию</h5></li>
			<li><h5>Ваш пароль должен содержать не менее 8 символов.</h5></li>
			<li><h5>Ваш пароль не может быть обычным паролем.</h5></li>
			<li><h5>Ваш пароль не может быть полностью числовым.</h5></li>
		</ul>
		<h5>Введите пароль:<input type="password" name="new_password1"
                                                  placeholder="Введите пароль" /></h5>
                    <h5>Повторите пароль<input type="password" name="new_password2"
                                                   placeholder="Повторите пароль"/></h5>

		</div>

	<input type="Submit" name="Update Password">

</form>
	<br>
</div>
	{% endblock %}