{% extends "home/base.html" %}
	{% block body %}
<div class="container">
              <hr><h1 style="text-align: center;">Восстановление пароля</h1><hr>
{% for msg in messages %}
        <h5 style="text-align: center; colour: green;">{{ msg }}</h5>
{% endfor %}

<h5 style="text-align:center;">Ваш пароль был сброшен, проверьте почту.</h5><br>


<h5>Мы отправили вам по электронной почте инструкции по установке пароля, если существует учетная
     запись с указанным вами адресом электронной почты. Вы должны их получить в ближайшее время.</h5><br>

<h5>Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, на который зарегистрировались,
      и проверьте папку со спамом.</h5>

    <br>

</div>

{% endblock %}