{% extends "home/base.html" %}
	{% block body %}
<style>
.footer {
position: absolute;
left: 0;
right: 0;
bottom: 0;
height: auto; }
</style>
<div class="container">
              <hr><h1 style="text-align: center;">Восстановление пароля</h1><hr>
{% for msg in messages %}
        <h5 style="text-align: center; colour: green;">{{ msg }}</h5>
{% endfor %}

	<h5>Если вы забыли пароль, введите почту которую вы использовали при регистрации. На эту почту вам будет выслано
		 письмо </h5>
	<form method="post" style="text-align:center;">

	{% csrf_token %}
	{{ password_form }}
	<input type="Submit" name="Send email">

</form>

<br>
</div>

{% endblock %}