{% extends "home/base.html" %}
{% block body %}

          <div class="container">
              <hr><h1 style="text-align: center;">Регистрация</h1><hr>
              {% for msg in messages %}
        <h5 style="text-align: center;">{{ msg }}</h5>
{% endfor %}
<br>
        <form method="post" action="{% url 'reg' %}" >
          {% csrf_token %}


            <table class="container" style="text-align: center;">
                <tr>
                    <td><h5>Введите логин для вашего аккаунта</h5></td>
                    <td><h5><input type="text" name="username" value="{{data.username}}"
                                   placeholder="Введите имя аккаунта"/></h5></td>
                </tr>
                <tr>
                    <td><h5>Введите ваше ФИО</h5></td>
                    <td><h5><input type="text" name="fio" value="{{data.fio}}"
                                   placeholder="Введите ваше ФИО"/></h5></td>
                </tr>

                <tr>
                    <td colspan="2"><h5>
                        <b>На вашу почту будет отправлено письмо с кодом, для завершения регистрации</b></h5></td>
                </tr>

                <tr>
                    <td><h5>Введите ваш телефонный номер</h5></td>
                    <td><h5><input type="text" name="phone" value="{{data.phone}}"
                                   placeholder="Введите ваш телефонный номер"/></h5></td>
                </tr>

                <tr>
                    <td><h5>Введите вашу электронную почту</h5></td>
                    <td><h5><input type="text" name="email" value="{{data.email}}"
                                   placeholder="Введите вашу почту"/></h5></td>
                </tr>


                <tr>
                    <td colspan="2"><h5><b>Введите пароль. Пароль должен быть не менее 6 символов</b></h5></td>
                </tr>

                <tr>
                    <td><h5>Введите пароль:<input type="password" name="password"
                                                  placeholder="Введите пароль" /></h5></td>
                    <td><h5>Повторите пароль<input
                  type="password"
                  name="password2"
                  placeholder="Повторите пароль"/></h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><button class="ui fluid large teal submit button">Зарегистрироваться</button></td>
                </tr>


            </table>
            <hr>
<div class="ui message" style="text-align:center;"><h5>Вы уже зарегистрированы? <a href="{% url 'login'  %}">Войти</h5></a></div><hr>
        </form>


  </div>



{% endblock %}