{% extends 'home/base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block body %}
{% load static %}

<link rel="stylesheet" href=" {% static 'contacts/css/form2.css' %} " type="text/css">
<link rel="stylesheet" href=" {% static 'contacts/css/adopt.css' %} " type="text/css">
<link rel="stylesheet" href=" {% static 'contacts/css/img.css' %} " type="text/css">

<div class="container">

<div class="row" style="margin-top:13px;">
    <hr><article><h1 align="center">Контактные данные и график работы</h1></article><hr>

    <div class="column">
        <h4><i class="fas fa-phone"></i> Конактный телефон: +38-068-786-46-56</h4>
        <h4><i class="fas fa-envelope"></i> Эл.почта: mega-bekker777@ukr.net</h4>
        <h4><i class="fas fa-map-marked-alt"></i> Юридический адрес: город Мариуполь, бульвар Богдана Хмельницкого, дом 6</h4>
    </div>

    <div class="column">
        <h4><i class="fas fa-calendar-alt"></i> Понедельник-пятница с 10:00-20:00</h4>
        <h4><i class="fas fa-adjust"></i> Выходные суббота-воскресенье и праздничные дни по записи</h4>
        <h4><i class="fas fa-tags"></i> Стоимость оказания услуг в выходные и праздничные дни повышенная</h4>
    </div>
</div>



<div class="row" align="justify" style="margin-top: 10px">
        <hr><h1  align="center">Как добраться</h1><hr>
        <ul class="column" align="justify" align-text="justify">
        <h5>До указанного адреса ходит общественный транспорт:</h5>
            <h5><span style="text-decoration: underline;">Остановка площаль Воинов-освободителей</span></h5>
        <ul>
        <li><h5>Троллейбус №13, №2. Автобус №8А</h5></li>
        </ul>
        <h5><span style="text-decoration: underline;">Остановка проспект Строителей</span></h5>
        <ul>
        <li><h5>Троллейбус №1, №7, №8. Маршрутка №114.<br>Автобус №28а </h5></li>
        </ul>

            <h5><span style="text-decoration: underline;">Остановка проспект Нахимова</span></h5>
        <ul>
        <li><h5>Троллейбус №2, №13. Автобус №8А</h5></li>
        </ul>

</ul>
        </ul>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2716.5002623293917!2d37.52410711538013!3d47.
      08926277915377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e6e485c3837989%3A0xf719455539b129b8!2z0LHRg9
      C7LiDQkdC-0LPQtNCw0L3QsCDQpdC80LXQu9GM0L3QuNGG0LrQvtCz0L4sIDYsINCc0LDRgNC40YPQv9C-0LvRjCwg0JTQvtC90LXRhtC60LDRjyDQ
      vtCx0LvQsNGB0YLRjCwg0KPQutGA0LDQuNC90LAsIDg3NTAw!5e0!3m2!1sru!2sru!4v1627900161202!5m2!1sru!2sru"
        class="column md-auto"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>


    <div class="text-center">
        <hr><h1 class="text-center">Отправить заявку</h1><hr>

        <form method="POST"> {% csrf_token %}

                {{ form.fio }}<br>
                {{ form.phone }}<br>
                {{ form.mail }}<br>
                {{ form.topic }}<br>
                {{ form.full_text }}<br>
                {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Отправить</button>
        </form>
<br>
</div>
</div>

{% endblock %}