{% extends 'home/base.html' %}

{% block title %}
Услуги
{% endblock %}
{% load static %}
{% block body %}

<link rel="stylesheet" href=" {% static 'prices/css/prices.css' %} " type="text/css">
<link rel="stylesheet" href=" {% static 'prices/css/acc.css' %} " type="text/css">
<link rel="stylesheet" href=" {% static 'prices/css/tables_prices.css' %} " type="text/css">


<div class="container">

<hr><h1 style="text-align: center;">Услуги</h1><hr>
<h2 style="text-align: center;"><i>Специализация и область деятельности</i></h2><br>
<div align="center">


    <button class="accordion text-center"><h5><i class="fas fa-users"> Гражданское право</i></h5></button>
    <div class="panel">
        <h5> Исковые заявления, апелляционные и кассационные жалобы, заявления, письма, запросы, жалобы в организации
            всех форм собственности</h5>
    </div>

<br>

    <button class="accordion text-center"><h5><i class="fas fa-users"> Семейное право</i></h5></button>
    <div class="panel">
        <h5>Расторжение брака, алименты (взыскание, уменьшение, увеличение, прекращение), раздел имущества,
            определение порядка общения с ребенком и его места жительства, оспаривание отцовства, регистрация
            места жительства ребенка без согласия второго родителя</h5>
    </div>

<br>

    <button class="accordion text-center"><h5><i class="fas fa-home"> Жилищное право</i></h5></button>
    <div class="panel">
        <h5>Вселение, выселение, определение порядка пользования жильем, взыскание с сособственника затрат на оплату
            коммунальных услуг, установление факта проживания</h5>
    </div>

<br>

    <button class="accordion text-center"><h5><i class="fas fa-hand-holding-usd"> Наследственное право</i></h5></button>
    <div class="panel">
        <h5>
            Продление срока на принятие наследства, признание права собственности в порядке наследования по закону и по
            завещанию, признание завещания, договора дарения недействительным, устранение от права на наследование,
            раздел наследственного имущества
        </h5>
    </div>

<br>

    <button class="accordion text-center"><h5><i class="fas fa-mountain"> Уголовное право</i></h5></button>
    <div class="panel">
        <h5>Представление интересов потерпевшего, обвиняемого, на досудебном и судебном следствии, в апелляционной и кассационной инстанциях</h5>
    </div>

<br>

    <button class="accordion text-center"><h5><i class="fas fa-search-dollar"> Административное право</i></h5></button>
    <div class="panel">
        <h5>Обжалование административных протоколов, штрафов</h5>
    </div>

<br>




</div>

<!--
<hr><h1 class="text-center">Из чего складывается стоимость юридических услуг</h1><hr>

<div class="row reading-box">

<div class="reading-box-additional">

<p><b>При определении стоимости услуг, адвокат руководствуется следующими критериями:</b></p>
<ol align="justify">
<li><span style="text-decoration: underline;">Срочность</span>. Оказание услуг возможно в сжатые сроки, которые
обсуждаются индивидуально.</li>
<li><span style="text-decoration: underline;">Сложность</span>. Сложность дела можно оценить лишь после полного
ознакомления со всеми материалами дела. Бывает, доверитель полагает, что ему необходимо лишь расторгнуть брак
(дело небольшой сложности), но в дальнейшем оказывается, что также, само-собой, необходимо разделить имущество
супругов (дело средней категории), и лишить отца родительских прав (сложная категория дел).</li>
<li><span style="text-decoration: underline;">Объем работ.</span> Количество истцов, ответчиков, третьих лиц,
количество судебных заседаний, объем получения необходимых доказательств, подготовка процессуальных документов,
подбор и анализ судебной практики — составляет определенный объем работ, который определяет стоимость услуг в большую
или меньшую сторону.</li>
<li><span style="text-decoration: underline;">Регион</span>. В случае необходимости выезда за пределы Мариуополя
для проведения следственных действий, получения доказательств, сбора необходимых документов, участия в судебных
 заседаниях, согласовываются либо расходы на проезд, либо увеличивается общая стоимость услуг.</li>
<li><span style="text-decoration: underline;">Форма оплаты.</span> Возможны рассрочка или постоплата оказываемых
услуг на индивидуальных условиях.</li>
<li><span style="text-decoration: underline;">Стоимость присужденного или сохраненного имущества (денег)</span>.
 После достижения оговоренного результата (по всем делам имущественного характера), подлежит оплате «гонорар успеха»,
 который определяется в процентном соотношении к присужденному или сохраненному имуществу (деньгам).</li>
</ol>
</div>
</div>
-->

<hr><h1 class="text-center">Стоимость услуг</h1><hr>


<h5 class="text-center"><strong>Подготовка документов в срочном порядке выполняется по повышенной стоимости</strong></h5>



<table class="container tb1">

<thead>
<tr>
<th class="text-center">Название</th>
<th class="text-center">Цена</th>
</thead>

</tr>
<tbody style="text-align: center;">
<tr>
<td>Устная консультация</td>
<td>250 грн.</td>
</tr>

<tr>
<td>Письменная консультация</td>
<td>350 грн.</td>
</tr>

<td colspan="2"><i>Подготовка досудебного урегулирования:</i></td>

<tr>
<td>Письма-претензии 1 шт</td>
<td>400 грн.</td>
</tr>

<tr>
<td>Запрос в какую-либо инстанцию либо организацию 1 шт</td>
<td>400 грн.</td>
</tr>

<tr>
<td>Ответ на иск, встречное исковое заявление, подготовка необходимых запросов и писем</td>
<td>1500-2500 грн.</td>
</tr>
</tbody>
</table>

    <hr><h5 style="text-align: center;"><strong>Первая инстанция</strong></h5><hr>

<table class="container tb1">

<tbody style="text-align: center;">


<thead>
<th colspan="2" style="text-align: center;">Гражданское производство</th>
<tr>
<th class="text-center">Название</th>
<th class="text-center">Цена</th>
</thead>

<tbody class="text-center">
    <td colspan="2" style="text-align: center;"><i>Подготовка документов в суд:</i></td>

<tr>
<td>Сбор документов по запросам, составление искового заявления,
Формирование квитанции и оплата судебного сбора, подача иска в суд</td>
<td>1500-2000 грн.</td>
</tr>

<tr>
<td>Составление иска  о расторжении брака</td>
<td>700 грн.</td>
</tr>

<tr>
<td>Составление иска о взыскании алиментов</td>
<td>700-1000 грн.</td>
</tr>

<tr>
<td>Иски имущественного характера</td>
<td>2000 грн.</td>
</tr>


<tr>
<td>Иски неимущественного характера</td>
<td>1000-1500 грн.</td>
</tr>


<td colspan="2"><i>Представительство  в суде:</i></td>

<tr>
<td>Одно судебное заседание</td>
<td>1000 грн.</td>
</tr>

<tr>
<td>Административные иски</td>
<td>1500-2000 грн.</td>
</tr>

<tr>
<td>Жалобы</td>
<td>1000-1500 грн.</td>
</tr>

<tr>
<td>Представительство в органах юстиции /ЦНАП горисполком, коммунальные службы и другие организациии</td>
<td>2000-3000 грн.</td>
</tr>

<td colspan="2"><i>Уголовное производство:</i></td>

<tr>
<td>Иск имущественного характера</td>
<td>1500 грн.</td>
</tr>


<tr>
<td>Иск неимущественного  характера</td>
<td>1000 грн.</td>
</tr>

<tr>
<td>Представительство интересов как потерпевшего, так и обвиняемого на досудебном расследовании	</td>
<td>3000 грн.</td>
</tr>


<tr>
<td>Представительство интересов как потерпевшего так и обвиняемого в суде</td>
<td>3000 грн.</td>
</tr>

</tbody>

</table>


<hr><h5 style="text-align: center;"><strong>Апелляционная инстанция</strong></h5><hr>

<table class="container tb1">

<tbody style="text-align: center;">


<thead>

<tr>
<th class="text-center">Название</th>
<th class="text-center">Цена</th>
</thead>

<tbody class="text-center">
<td colspan="2" style="text-align: center;"><i>Гражданское  и уголовное производство:</i></td>

<tr>
    <td>Составление апелляционной жалобы либо ответа на апелляционную жалобу</td>
    <td>1000-1500 грн.</td>
</tr>

<tr>
    <td>Представительство в Апелляционном суде (одно судебное заседание)</td>
    <td>1000 грн.</td>
</tr>
</tbody>
</table>

<hr><h5 style="text-align: center;"><strong>Кассационная инстанция</strong></h5><hr>

<table class="container tb1">

<tbody style="text-align: center;">


<thead>

<tr>
<th class="text-center">Название</th>
<th class="text-center">Цена</th>
</thead>

<tbody class="text-center">
<td colspan="2" style="text-align: center;"><i>Гражданское  и уголовное производство:</i></td>

<tr>
    <td>Составление кассационной жалобы либо  ответ на кассационную жалобу</td>
    <td>1000-1500 грн.</td>
</tr>

</tbody>
</table>

<!--
<table class="container tb1">

<thead>
<th colspan="2" style="text-align: center;">Гражданское производство</th>
<tr>
<th class="text-center">Название</th>
<th class="text-center">Цена</th>
</thead>
<tbody class="text-center">
    <th colspan="2" style="text-align: center;">Подготовка документов в суд:</th>
<tr>
<td>Сбор документов по запросам, составление искового заявления,
Формирование квитанции и оплата судебного сбора, подача иска в суд</td>
<td>1500-2000 грн.</td>
</tr>

<tr>
<td>Составление иска  о расторжении брака</td>
<td>700 грн.</td>
</tr>

<tr>
<td>Составление иска о взыскании алиментов</td>
<td>700-1000 грн.</td>
</tr>

<tr>
<td>Иски имущественного характера</td>
<td>2000 грн.</td>
</tr>


<tr>
<td>Иски неимущественного характера</td>
<td>1000-1500 грн.</td>
</tr>
    <th colspan="2" style="text-align: center;">Представительство  в суде:</th>

</tbody>
</table>

<table>

<tr>
<th class="text-center">Название</th>
<th class="text-center">Описание</th>
<th class="text-center">Цена</th>
</tr>
</thead>

<tbody>

<tr>
<td class="text-center">Консультации (устные/письменные)</td>
<td align="justify">Консультация по правовому вопросу.</td>
<td class="text-center">400/600 грн<br>
</tr>

<tr>
<td class="text-center">Письма-претензии</td>
<td align="justify">Письмо-претензия или запрос в какую-либо инстанцию, организацию.</td>
<td class="text-center">400 грн </td>
</tr>

<tr>
<td class="text-center">Документы правового характера</td>
<td align="justify">Ответ на иск, встречное исковое заявление, подготовка необходимых запросов и писем.</td>
<td class="text-center">2500-3000 грн</td>
</tr>

<tr>
<td class="text-center">Правовое заключение</td>
<td align="justify">Анализ конкретной ситуации, оценка рисков, правовое обоснование, предоставление рекомендаций.</td>
<td class="text-center">4 000 руб</td>
</tr>

<tr>
<td class="text-center">Договоры</td>
<td align="justify">Грамотное составление договорной документации, анализ сделок.</td>
<td class="text-center">от 5 000 руб</td>
</tr>

<tr>
<td class="text-center">Представительство в государственных органах</td>
<td align="justify">Представление интересов в органах государственной власти, органа местного самоуправления,
    и других организациях</td>
<td class="text-center">от 5 000 руб</td>
</tr>

<tr>
<td class="text-center">Представительство в суде</td>
<td align="justify">Представление интересов в гражданском, административном, уголовном судопроизводстве.</td>
<td class="text-center">от 6 000 руб</td>
</tr>

</tbody>

</table>
-->
   <hr>
    <h6 align="justify">Окончательная сумма гонорара адвоката определяется соглашением сторон и может учитывать объем
        и сложность работы, продолжительность времени, необходимого для ее выполнения, сроки, степень срочности
        выполнения работы. Размер вознаграждения адвоката зависит от сложности дела и составляет фиксированную
        денежную сумму.</h6>




<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
</div>
{% endblock %}