{% extends 'home/base.html' %}

{% block title %}
Услуги
{% endblock %}

{% block body %}
<div class="container">
<br><div class="container">
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Там какая-то услуга</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1 Хгривна</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Среднячок</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">15 хгривен</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Позвонить, либо заказать звонок</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Сложное дело</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">7.000 хгривен</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Позвонить и помуркать</button>
          </div>
        </div>
      </div>
    </div>
    </div>
<br><div class="container">
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Там какая-то услуга</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">10.000 Хгривна</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Супер-мега сложное дело</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">15.000 хгривен</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Позвонить, либо заказать звонок</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Супер-мега-гипер-мурк-пурк сложное дело</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">750.000 хгривен</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Позвонить</button>
          </div>
        </div>
      </div>
    </div>
    </div>

<div class="container">
    <h1>Таких услуг будет много, пока закидал 6 штучек. Желательно будет распистать их поподробнее, либо сделать ссылки
    чтобы люди переходили вообще на другую страницу и видели все, например, документы, которые нужны будут для дела,
    сколько дел было выполнено с таким запросом и т.п</h1>
  </div>
</div>
{% endblock %}