{% extends 'home/base.html' %}

{% block title %}
Услуги
{% endblock %}
{% load static %}
{% block body %}

<link rel="stylesheet" href=" {% static 'prices/css/prices.css' %} " type="text/css">
<link rel="stylesheet" href=" {% static 'prices/css/acc.css' %} " type="text/css">
<link rel="stylesheet" href=" {% static 'prices/css/table.css' %} " type="text/css">

<div class="container">

<hr><h1 class="text-center">Услуги предоставляемые адвокатом</h1><hr>


<div align="center">


    <button class="accordion text-center"><i class="fas fa-users"> Гражданские дела</i></button>
    <div class="panel">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>

<br>
    <button class="accordion text-center"><i class="fas fa-house-damage"> Страховые споры</i></button>
    <div class="panel">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>
<br>


    <button class="accordion text-center"><i class="fas fa-search-dollar"> Защита прав потребителей</i></button>
    <div class="panel">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>
<br>

    <button class="accordion text-center"><i class="fas fa-hand-holding-usd"> Наследственные споры</i></button>
    <div class="panel">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>
<br>

    <button class="accordion text-center"><i class="fas fa-users"> Семейные споры</i></button>
    <div class="panel">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>

    <br>

    <button class="accordion text-center"><i class="fas fa-mountain"> Земельные споры</i></button>
    <div class="panel">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>
<br>

    <button class="accordion text-center"><i class="fas fa-home"> Недвижимость и жилищные споры</i></button>
    <div class="panel">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>
</div>

<hr><h1 class="text-center">Из чего складывается стоимость юридических услуг</h1><hr>

<div class="row reading-box">

<div class="reading-box-additional">

<p><b>При определении стоимости услуг, адвокат руководствуется следующими критериями:</b></p>
<ol align="justify">
<li><span style="text-decoration: underline;">Срочность</span>. Оказание услуг возможно в сжатые сроки, которые обсуждаются индивидуально.</li>
<li><span style="text-decoration: underline;">Сложность</span>. Сложность дела можно оценить лишь после полного ознакомления со всеми материалами дела. Бывает, доверитель полагает, что ему необходимо лишь расторгнуть брак (дело небольшой сложности), но в дальнейшем оказывается, что также, само-собой, необходимо разделить имущество супругов (дело средней категории), и лишить отца родительских прав (сложная категория дел).</li>
<li><span style="text-decoration: underline;">Объем работ.</span> Количество истцов, ответчиков, третьих лиц, количество судебных заседаний, объем получения необходимых доказательств, подготовка процессуальных документов, подбор и анализ судебной практики — составляет определенный объем работ, который определяет стоимость услуг в большую или меньшую сторону.</li>
<li><span style="text-decoration: underline;">Регион</span>. В случае необходимости выезда за пределы Мариуополя для проведения следственных действий, получения доказательств, сбора необходимых документов, участия в судебных заседаниях, согласовываются либо расходы на проезд, либо увеличивается общая стоимость услуг.</li>
<li><span style="text-decoration: underline;">Форма оплаты.</span> Возможны рассрочка или постоплата оказываемых услуг на индивидуальных условиях.</li>
<li><span style="text-decoration: underline;">Стоимость присужденного или сохраненного имущества (денег)</span>. После достижения оговоренного результата (по всем делам имущественного характера), подлежит оплате «гонорар успеха», который определяется в процентном соотношении к присужденному или сохраненному имуществу (деньгам).</li>
</ol>
</div>
</div>

<hr><h1 class="text-center">Гонорар адвоката</h1><hr>




<table class="container">

<thead>
<tr>
<th class="text-center">Название</th>
<th class="text-center">Описание</th>
<th class="text-center">Цена</th>
</tr>
</thead>

<tbody>

<tr>
<td class="text-center">Консультации (устные/письменные)</td>
<td align="justify">Консультации по правовым вопросам.</td>
<td class="text-center">400/600 грн<br>
</tr>

<tr>
<td class="text-center">Справка по законодательству</td>
<td align="justify">Письма-претензии 1 шт, или запрос в, какую-либо инстанци, либо организацию 1 шт</td>
<td class="text-center">400 грн за 1 шт</td>
</tr>

<tr>
<td class="text-center">Документы правового характера</td>
<td align="justify">Ответ на иск, встречное исковое заявление, подготовка необходимых запросив и писем</td>
<td class="text-center">2500-3000 грн</td>
</tr>

<tr>
<td class="text-center">Правовое заключение</td>
<td align="justify">Анализ конкретной ситуации, оценка рисков, правовое обоснование, предоставление рекомендаций</td>
<td class="text-center">4 000 руб</td>
</tr>

<tr>
<td class="text-center">Договоры</td>
<td align="justify">Грамотное составление договорной документации, анализ сделок.</td>
<td class="text-center">от 5 000 руб</td>
</tr>

<tr>
<td class="text-center">Представительство в государственных органах</td>
<td align="justify">Представление интересов в органах государственной власти, органа местного самоуправления, и других организациях</td>
<td class="text-center">от 5 000 руб</td>
</tr>

<tr>
<td class="text-center">Представительство в суде</td>
<td align="justify">Представление интересов в гражданском, административном, уголовном судопроизводстве.</td>
<td class="text-center">от 6 000 руб</td>
</tr>

</tbody>

</table>

   <hr>
    <h6 align="justify">Окончательная сумма гонорара адвоката определяется соглашением сторон и может учитывать объем и сложность работы, продолжительность времени, необходимого для ее выполнения, сроки, степень срочности выполнения работы. Размер вознаграждения адвоката зависит от сложности дела и составляет фиксированную денежную сумму.</h6>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
</div>
{% endblock %}