{% extends 'home/base.html' %}

{% block title %}
Услуги
{% endblock %}
{% load static %}
{% block body %}
<link rel="stylesheet" href=" {% static 'prices/css/prices.css' %} " type="text/css">
<link rel="stylesheet" href=" {% static 'prices/css/structure.css' %} " type="text/css">

<div class="container">
    <br>
<input type="checkbox" id="hd-1" class="hide"/>
    <label for="hd-1" >Гражданские дела</label>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>
<br>
<input type="checkbox" id="hd-2" class="hide"/>
    <label for="hd-2" >Страховые споры</label>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>
<br>
<input type="checkbox" id="hd-3" class="hide"/>
    <label for="hd-3" >ЗПП</label>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>
<br>
<input type="checkbox" id="hd-4" class="hide"/>
    <label for="hd-4" >Наследственные споры</label>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>
<br>
<input type="checkbox" id="hd-5" class="hide"/>
    <label for="hd-5" >Семейные споры</label>
    <div>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>
<br>
<input type="checkbox" id="hd-6" class="hide"/>
    <label for="hd-6" >Земельные споры</label>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>
<br>
<input type="checkbox" id="hd-7" class="hide"/>
    <label for="hd-7" >Недвижимость и жилищные споры</label>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem totam veniam vero. At aut beatae ducimus eligendi eos et itaque laborum natus numquam quas, quos rerum soluta vel vero voluptate?
    </div>
</div>
{% endblock %}