{% extends 'home/base.html' %}

{% block title %}
Услуги
{% endblock %}

{% block body %}


<div class="container"><br>

<h1 class="containet text-center">Тарифы за оказание услуг</h1><br>

<div class="container">

<div class="row row-cols-1 row-cols-md-2 mb-3 text-center">

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Устная консультация</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">400 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Расписать!</h1>
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Письменная консультация</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">600 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Расписать!</h1>
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

<h1 class=" container text-center">Подготовка досудебного урегулирования</h1>

</div>


<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

    <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Подготовка досудебного урегулирования</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">400 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Расписать!</h1>
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

    <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-2 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Письма-претензии 1 шт.</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">400 грн.</h1>
            <ul class="list-unstyled mt-2 mb-4">
              <h1>Расписать!</h1>
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

    <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Ответ на иск, встречное исковое заявление, подготовка необходимых запросов и писем</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">2500-3000 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Расписать!</h1>
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>

            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>


</div>


<div>

  <h1 class="container text-center"><strong>Первая инстация</strong></h1>
  <h1 class="container text-center">Гражданское производство</h1>

</div><br>

<div class="row row-cols-1 row-cols-md-5 mb-3 text-center">

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Подготовка документов в суд</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">2000-2500 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Пример 5 с +</h1>
              <li>Сбор документов по запросам</li>
              <li>Cоставление искового заявления</li>
              <li>Формирование квитанции и оплата судебного сбора</li>
              <li>Cдача иска в суд</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Составление иска  о расторжении брака</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1000 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Расписать</h1>
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Составление иска о взыскании алиментов</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1200 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Расписать</h1>
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Иски имущественного характера</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">2000-2500 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Расписать</h1>
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Иски неимущественного характера</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1500 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Расписать</h1>
              <li>Описание услуги</li>
              <li>Описание сложностей и всех аспектов</li>
              <li>Сроки(необязательно), опыт работы с такими делами</li>
              <li>Возможные расходы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

</div>


<div class="container text-center">
  <h1><strong>Представительство в суде</strong></h1>
</div>

<div class="row row-cols-1 row-cols-md-4 mb-3 text-center">

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Одно судебное заседание</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1000 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Пример 5 с +</h1>
              <li>Сбор документов по запросам</li>
              <li>Cоставление искового заявления</li>
              <li>Формирование квитанции и оплата судебного сбора</li>
              <li>Cдача иска в суд</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Административные иски</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1500-2000 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Пример 5 с +</h1>
              <li>Сбор документов по запросам</li>
              <li>Cоставление искового заявления</li>
              <li>Формирование квитанции и оплата судебного сбора</li>
              <li>Cдача иска в суд</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Жалобы</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1000-1500 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Пример 5 с +</h1>
              <li>Сбор документов по запросам</li>
              <li>Cоставление искового заявления</li>
              <li>Формирование квитанции и оплата судебного сбора</li>
              <li>Cдача иска в суд</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Представительство</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">3000 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Пример 5 с +</h1>
              <li>В органах юстиции/ЦНАП</li>
              <li>Регистрационные службы</li>
              <li>Горисполком</li>
              <li>Коммунальные службы</li>
              <li>И другие</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

</div>

<div class="container text-center">
  <h1><strong>Уголовное производство</strong></h1>
  </div>
<div class="row row-cols-1 row-cols-md-4 mb-3 text-center">

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Иск имущественного характера</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1500 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Пример 5 с +</h1>
              <li>Сбор документов по запросам</li>
              <li>Cоставление искового заявления</li>
              <li>Формирование квитанции и оплата судебного сбора</li>
              <li>Cдача иска в суд</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Иск неимущественного характера</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1500 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Пример 5 с +</h1>
              <li>Сбор документов по запросам</li>
              <li>Cоставление искового заявления</li>
              <li>Формирование квитанции и оплата судебного сбора</li>
              <li>Cдача иска в суд</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Представительство интересов как потерпевшего так и обвиняемого на досудебном расследовании</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">3000 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Пример 5 с +</h1>
              <li>Сбор документов по запросам</li>
              <li>Cоставление искового заявления</li>
              <li>Формирование квитанции и оплата судебного сбора</li>
              <li>Cдача иска в суд</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Представительство интересов как потерпевшего так и обвиняемого в суде</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">3000 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Пример 5 с +</h1>
              <li>Сбор документов по запросам</li>
              <li>Cоставление искового заявления</li>
              <li>Формирование квитанции и оплата судебного сбора</li>
              <li>Cдача иска в суд</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>
</div>


<div>
    <h1 class="container text-center"><strong>Апелляционная инстанция</strong></h1>
</div>

<div class="row row-cols-1 row-cols-md-2 mb-3 text-center">

<div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Составление апелляционной жалобы либо ответа на апелляционную жалобу	</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1500-2000 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Пример 5 с +</h1>
              <li>Сбор документов по запросам</li>
              <li>Cоставление искового заявления</li>
              <li>Формирование квитанции и оплата судебного сбора</li>
              <li>Cдача иска в суд</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

<div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Представительство в Апелляционном суде</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">3000 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Пример 5 с +</h1>
              <li>Одно судебное заседание</li>
              <li>Cоставление искового заявления</li>
              <li>Формирование квитанции и оплата судебного сбора</li>
              <li>Cдача иска в суд</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>

</div>

    <div class="container text-center">
    <h1 class="container text-center"><strong>Кассационная инстанция</strong></h1>
      <h1 class="container text-center">Гражданское  и уголовное производство</h1>

<div class="row row-cols-1 row-cols-md-1 mb-2 text-center">

  <div class="col d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Составление кассационной жалобы либо  ответ на кассационную жалобу</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1500 грн.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1>Пример 5 с +</h1>
              <li>Одно судебное заседание</li>
              <li>Cоставление искового заявления</li>
              <li>Формирование квитанции и оплата судебного сбора</li>
              <li>Cдача иска в суд</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Позвонить</button>
          </div>
        </div>
      </div>
</div>





<div class="container">
    <h1>Таких услуг будет много, пока закидал 6 штучек. Желательно будет распистать их поподробнее, либо сделать ссылки
    чтобы люди переходили вообще на другую страницу и видели все, например, документы, которые нужны будут для дела,
    сколько дел было выполнено с таким запросом и т.п</h1>
  </div>
</div>
</div>
{% endblock %}