{% load static %}
<!doctype html>

<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/home/img/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/topnav.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/foot.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/tables_base.css' %}" type="text/css">

    <title>{% block title %}{% endblock %}</title>

</head>

<body>

<div class="topnav" id="myTopnav" style="width:100%;">
<div class="container">
  <img src="{% static 'home/img/law_logo.png' %}" alt="Second" width="50" height="50" style="float: left;" >

<div style="float: right;">
  <a href={% url 'home' %} class="nav-link px-2 text-white"><i class="fas fa-home"> Главная страница</i>
  <a href={% url 'prices' %} class="nav-link px-2 text-white"><i class="fas fa-hryvnia"> Услуги</i></a>
  <a href={% url 'contacts' %} class="nav-link px-2 text-white"><i class="fas fa-phone-square"> Контакты</i></a>

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>

</div>
</div>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>


</body>
<body>
{% block body %}{% endblock %}
</body>
<div class="row">
<footer class="bg-dark text-center text-white">
  {% block footer %}

  <!-- Footer -->

  <!-- Grid container --> <br>
  <div class="container" >
    <!-- Section: Social media -->
    <section>
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://goo.gl/maps/hdemssyMcqzGgUw58" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/advokatbekker" role="button"><i class="fab fa-instagram"></i></a>

      <!-- VK -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-vk"></i></a>
    </section>

    <!-- Section: Social media -->


<table class="table-1">
    <tr class="tr-1">
        <td class="td-1"><h6>Контактная информация</h6></td>
        <td class="td-1"><h6>Навигация сайта</h6></td>
    </tr>
    <tr class="tr-1">
        <td class="td-1"><a href="tel:+38-068-786-46-56" class="text-white"><i class="fas fa-phone-volume">Позвонить</i></a></td>
        <td class="td-1"><a href="/" class="text-white">Главная страница</a></td>
    </tr>
    <tr class="tr-1">
        <td class="td-1"><a href="mailto:mega-bekker777@ukr.net" class="text-white"><i class="fas fa-envelope-open"> Написать на почту</i></a></td>
        <td class="td-1"><a href="/prices" class="text-white">Услуги</a></td>
    </tr>
    <tr class="tr-1">
        <td class="td-1"><a href="https://goo.gl/maps/UjFbwuxeHbEdoPjP9" class="text-white"><i class="fas fa-map-marked-alt"> Найти на карте</i></a></td>
        <td class="td-1"><a href="/contacts" class="text-white">Контакты</a></td>
    </tr>
</table>



  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://github.com/renvissvnce">renvissvnce</a>
  </div>
  <!-- Copyright -->

<!-- Footer -->{% endblock %}
</footer>
</div>
</html>
