{% extends 'home/base.html' %}

{% block title %}
Главная страница
{% endblock %}
{% load static %}

{% block body %}
<link rel="stylesheet" href=" {% static 'home/css/home.css' %} " type="text/css">


<div class="container">
    <hr><h1 asign="left" style="word-wrap: break-word; margin-top: 10px;">Адвокат Беккер Мария Ивановна</h1><hr>

<div class="row">
<img src="{% static 'home/img/img_law.png' %}" alt="First" class="column" >
<div class="column" align="justify">

    <h5>Опыт работы в юриспруденции более 24 лет. 11 лет работы в суде. Адвокатская практика более 10 лет.</h5>
    <h5>Оказываю помощь при:</h5>
    <ul>
    <li><h5>Составлении документов в суд</h5></li>
    <li><h5>Подаче жалоб, претензий в различные государственные структуры и организации</h5></li>
    <li><h5>Представляю интересы клиентов в судах первой и второй инстанциях по гражданским и уголовным делам, органах юстиции.</h5></li>
    <h5>Ответ на обращение в электронном виде (по электронной почте, в вайбер, в вацап, телеграмм, инстаграмм)
    будет дан по возможности в максимально короткий срок. Индивидуальный подход к каждому клиенту.</h5>
    </ul>
    <h5>При возникновении необходимости подготовки документов либо представительства на досудебном следствии
        в срочном порядке звонить по указанному номеру. </h5>
    <h5>Свидетельство о праве на занятие адвокатской деятельностью: № 2864, выдано Донецкой КДКА 26.03.2008 года. (ФОТО!) </h5>
    </div>

</div>


<div class="row">


<div align="justify" class="column">
        <h5>Ручаюсь за свое дело, своим опытом, знаниями.</h5>
    <ul>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea est magni nam quod! Accusamus error, ex, exercitationem explicabo hic illo in itaque, neque pariatur qui reiciendis repellat sit vitae!</h5>
        <h5>Отзывы моих клиентов и результаты дел, которыми я занималась.</h5>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea est magni nam quod! Accusamus error, ex, exercitationem explicabo hic illo in itaque, neque pariatur qui reiciendis repellat sit vitae!</h5></li>
    </ul>
</div>


<!-- Слайдер -->
<div id="carouselExampleCaptions" class="carousel slide column" data-bs-ride="carousel" >

<!-- Кнопки слайдера -->

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
  </div>

<!-- Изображения в карусели -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'home/img/img1.jpeg' %}" class="d-block w-100" alt="This is test - 1">
      <div class="carousel-caption d-none d-md-block">
        <h5>Отзыв от ФИО</h5>
        <p>Описание проблемы и ее итоги.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'home/img/img2.jpeg' %}" class="d-block w-100" alt="This is test - 2">
      <div class="carousel-caption d-none d-md-block">
        <h5>Отзыв от ФИО</h5>
        <p>Описание проблемы и ее итоги.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'home/img/img3.jpeg' %}" class="d-block w-100" alt="This is test - 3">
      <div class="carousel-caption d-none d-md-block">
       <h5>Отзыв от ФИО</h5>
        <p>Описание проблемы и ее итоги.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'home/img/img4.jpeg' %}" class="d-block w-100" alt="This is test - 4">
      <div class="carousel-caption d-none d-md-block">
       <h5>Отзыв от ФИО</h5>
        <p>Описание проблемы и ее итоги.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'home/img/img5.jpeg' %}" class="d-block w-100" alt="This is test - 5">
      <div class="carousel-caption d-none d-md-block">
       <h5>Отзыв от ФИО</h5>
        <p>Описание проблемы и ее итоги.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'home/img/img6.jpeg' %}" class="d-block w-100" alt="This is test - 6">
      <div class="carousel-caption d-none d-md-block">
       <h5>Отзыв от ФИО</h5>
        <p>Описание проблемы и ее итоги.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'home/img/img7.jpeg' %}" class="d-block w-100" alt="This is test - 7">
      <div class="carousel-caption d-none d-md-block">
       <h5>Отзыв от ФИО</h5>
        <p>Описание проблемы и ее итоги.</p>
      </div>
    </div>

  </div>

<!-- Нижняя панель -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </div>
</div>
{% endblock %}